@keyframes cool {
    from,to {
        color:black;
    }
    25% {
        color:blue;
    }
    50% {
        color:green;
    }
    75% {
        color:brown;
    }
}

#cool {
    font-weight: bold;
    animation-name: cool;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

head,
body {
    width: 100%;
    height: 100%;

    padding: unset;
    margin: unset;
    border: unset;
}

body {
    display: grid;
    grid-template-rows: 50px auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    box-sizing: border-box;
    padding: 1%;
}